/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Dashboard HTML */
.dashboard_background {
    background-image: url("/static/img/stone_wall.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of Dashboard HTML */

/* Coding Dojo Wall HTML */
/* Coding Dojo Wall Background */
.wall_background {
    background-image: url("/static/img/wall_background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Delete button */
.delete_btn {
    width: 120px;
}
/* End of Coding Dojo Wall HTML */